
<div class="grid-container">
    <div class="content">
        <mat-tab-group color="accent" backgroundColor="primary">
            <mat-tab label="Cetificados Tributarios">
                <mat-card class="mejoramiento-card">
                    <mat-card-header>
                      <mat-card-title>Certificados vs Medios Magneticos</mat-card-title>
                      <mat-card-subtitle>Nueva herramienta</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>{{TextoCertificados}}</p>
                    </mat-card-content>
                  </mat-card>
            </mat-tab>
            <mat-tab label="Aportes por Identificar Fiduciaria">
                <mat-card class="mejoramiento-card">
                    <mat-card-header>
                      <mat-card-title>Aportes por identificar Fiduciaria T+1</mat-card-title>
                      <mat-card-subtitle>Modificación de EUC</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                      <p>{{TextoAportes}}</p>
                    </mat-card-content>
                  </mat-card>
            </mat-tab>
            <mat-tab label="Pagos retiros FC2 3 de abril">Pagos retiros FC2 3 de abril</mat-tab>
            <mat-tab label="Soporte">Soporte a la operación</mat-tab>
        </mat-tab-group>
    </div>
    <div class="image">
        <img src="assets/Evolucion-tecnologica.jpeg" alt="Image">
    </div>
</div>

